html
{
    font-size: 100%;
}


#bloc_page
{
width: 900px;
margin: auto;
border: solid 3px #FFFF00 ;
word-wrap: break-word;
    display: flex;
    flex-direction: row;
        font-size: 0.75em;
}
#bloc_page h1, h2, h3
{
    text-transform: uppercase;
    font-size: 1.9em;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
#gauche
{
     width: 35%;
    background-color: #FFFF00;
}
.droite
{
height: auto;
width: 65%;
display: flex;
flex-direction: column;
margin-left: 25px;
margin-right: 1cm;
}
.titre_principal
{
    margin-bottom: 0.5em;
    margin-top: 2em;
    font-size: 1.6em;
}
aside{
    display: flex;
}
.titre
{
    margin-left: 1em;
    color: #212121;
    margin-top: 1em;
}
.open
{
    list-style: none;
    }
span.angole
{
    color: #FFFF00;
}
span.gras
{
    font-weight: bold;
    text-transform: uppercase;
}
.underline
{
    width: 100%;
    height: 0.1em;
    background-color: #FFFF00;
}
.bac
{
    display: flex;  
 white-space: nowrap; 
        word-wrap: break-word;
        margin-top: 1em;
        
    }
    .open
    {
        margin-left: 2cm;
    }

.bts ::before
{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFFF00;
    margin-right: 10px;
    margin-top: 15px;
    
    }
    .bac ::before
{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFFF00;
    margin-right: 10px;
    margin-top: 15PX; 

        }
.bts 
{
white-space: nowrap;
word-wrap: break-word;
}
.list
{
    display: flex;
    flex-direction: row;
    
}
.master
{
    display: flex;
    flex-direction: row;
    }
 .licence
 {
     margin-left: 3cm;
     color: #212121;
 }   
 .master
 {
     list-style: none;
     color: #212121;
 }
 


figure img
{
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    max-width: 100%; 
    margin-top: 2em;
        
}
figure
{
    text-align: center;
    
   

}

#gauche h2
{
    text-align: center;
    background-color: #212121;
    color: #FFFF00;
    text-transform: uppercase;
}
#gauche p
{
    text-align: left;
margin-left: 5%;
margin-right: 20px;

}
#image ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 60px;
}    
#image li
{
 margin: auto;
}
.open
{
    list-style: none;
    color: #212121;
}
.web
{
    text-decoration: underline #FFFF00 ;
    }
    .free
    {
        text-transform: none;
    }
    #droite ul
{
color: #FFFF00;
}
.black
{
    
        color: #212121
}
.diplome
{
    color: #212121;
}
.fa, .fa a
{
    color: #FFFF00;
    
}
.fa.fa-futbol-o,.fa.fa-code,.fa.fa-spotify
{
    color: #212121;
    font-size: 3em;
}

@media screen and (max-width: 1000px)
{
#bloc_page
{
    width: auto;
    flex-direction: column-reverse;
    font-size: 80%;
}
#gauche
{
    display: flex;
    flex-direction: row;
text-align: center;
background-color: #FFFF00;
word-wrap: break-word;
width: auto;
height: auto;
}
#paragraphe1, #loisir
{
    display: none;
}
#paragraphe
{
    display: flex;
    flex-direction: row;
}
}
